html, body { 
/* Plus de scrollbar horizontale */ 
    max-width: 100%;
    overflow-x: hidden;
    color: white;
    font-family: Arial;
    overflow-x: hidden;
    margin: 0;
    padding:0;
}
html{font-size: 10px;}

body{
background-image: url('img/bg.jpg');
background-size: cover; 
/*background-size: 100%; */
background-repeat: no-repeat; 

}
ul{
	visibility: hidden;
	height: 0px;
}
div#burger{
	visibility: hidden;
	height: 0px;
}
div#logo{
background-image: url('img/logo.png');
width:100px;
height: 100px;
background-size: auto 100%;
display: block;
margin-left: 0%;
}

div#call a img{
	visibility: :hidden;
	height:0px;
}
div#burger{
	height:0px;
	visibility: :hidden;
}
div#menu{
	display:block;
	margin-top:-80px;
	margin-left: 80%;
}

div#menu input.champ{
	width:80%;
	height:25px;
	border:0px;
	float:left;
}
.rechercher{
	margin-top: 5px;
}
.rechercher .bouton{
background-image: url(img/loupe.png);
background-size:100%;
background-repeat: no-repeat;
width: 25px;
height: 25px;
padding: 0;
float:left; 
border: 0px;}

div#banner{
padding:20 0 0 0;
margin-top:50px;
background-image: url(img/banner.jpg);
background-size:cover;
background-repeat: no-repeat;
width: 100%;
height: 200px;

}


p{
font-size: 1.6em;
}

a{
color:#f1c400;
font-size: 1.3em;
}
h1{
color: #f1c400;
font-size:3em;
margin-left:2%;
}

h2{
color: black;
font-size:2em;
margin-left:2%;
margin-top: 4%;
}

section#P1 p{
	text-align: justify;
}

section#content{
	float:left;
width:100%;
}

section#mapform{
	background-color: #f1c400;
	float:left;
	width:100%;
}

.joueur h2{
	color: #FFE51B;
	font-size :12px;
	
	
}
.joueur span{
	color: #FFE572;
	font-size :10px;
	text-align:center;

}
.joueur{
	margin-top: 2%;
	text-align:center;
	width:25%;
	background-color: black;
	float: left;
padding-top: 30px;
}

div#map{
	float:left;
	width:50%;
}
iframe#stade{
	width:90%;
	margin-left: 2%;
}

div#form{
	float:left;
	width:50%;
	display:block;
}

div#form p {
	margin-left:10%;
}

div#form input,textarea {
	background-color: black;
	color:#f1c400;
	border: 1px black solid;;
	width:80%;
}

footer{
width:100%;
float:left;
text-align:center;
background-color: black;
}

footer p{
	color:#f1c400;
}

/*
#P1{
background-color : blue;
}

#P2{
background-color : white;
}

#P3{
background-color : red;
}
*/





@media screen and (max-width: 900px) {
div#logo{
    margin-left: auto;
    margin-right: auto;
    height:150px;
    width:150px;
}
div#menu{
    margin-top: auto;
    /*float: left;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 33%;
}




.rechercher .bouton {
    float: left;
}
div#menu input.champ {
   width:80%;
}
div#call a img {
	visibility: :hidden;
	height:0px;
}


.joueur{
	width:50%;
}
@media screen and (max-width: 450px) {

.joueur{
	width:100%;
}
div#menu{
	visibility: hidden;
	height:0px;
}

div#banner{
margin-top:5%;
background-size:100%;
height: 200px;
}

div#call a{
visibility:visible;
width:90px;
height: 90px;
position:absolute;
background-image: url('img/call.png');
background-size:100%;
margin-left: 70%;
}



div#burger {
	display: none;
	height:33%;
	float: left;
	width:100%;
}

div#menu-icon{
	visibility: visible;
	width: 40px;
	height: 40px;
	background-image: url('img/menu-icon.png');
	background-size:100%;

}

div#burger a {
	font-weight: bold;
	font-size: 1.5em;
	visibility: visible;
	width: 40px;
	height: 40px;
	background-color: black;
	border : 1px  black solid;
	background-size:100%;
	
}





ul li{
	color:black;
	border : 1px  black solid;
	list-style: none;
	width: 100%;
}

li {

	display: inline-block;
	float: left;
	padding-top: 10px
	border : 1px  black solid;
	width: 100%;
	}
}


