html, body { 
/* Plus de scrollbar horizontale */ 
    max-width: 100%;
    overflow-x: hidden;
    color: white;
    font-family: Impact, Arial;
}
html{font-size: 10px;}

body{
background-image: url('img/bg.jpg');
background-size: cover; 
/*background-size: 100%; */
background-repeat: no-repeat; 

}


div#logo{
background-image: url('img/logo.png');
width:100px;
height: 100px;
background-size: auto 100%;
display: block;
margin-left: 0%;
}


div#menu{
	display:block;
	margin-top:-80px;
	margin-left: 80%;
}
.rechercher{
	margin-top: 5px;
}
.rechercher .bouton{
background-image: url(img/loupe.png);
background-size:100%;
background-repeat: no-repeat;
width: 30px;
height: 30px;
padding: 0; }

div#banner{
padding:20 0 0 0;
margin-top:50px;
background-image: url(img/banner.jpg);
background-size:cover;
background-repeat: no-repeat;
width: 100%;
height: 400px;

}


p{
font-size: 1.6em;
}

a{
color:#f1c400;
}
h1{
color: #f1c400;
font-size:3em;
margin-left:2%;
}

h2{
color: black;
font-size:2em;
margin-left:2%;
margin-top: 4%;
}

section#content{
	float:left;
width:100%;
}

section#mapform{
	background-color: #f1c400;
	float:left;
	width:100%;
}

.joueur h2{
	color: #FFE51B;
	font-size :12px;
	
	
}
.joueur span{
	color: #FFE572;
	font-size :10px;
	text-align:center;

}
.joueur{
	margin-top: 2%;
	text-align:center;
	width:25%;
	background-color: black;
	float: left;
padding-top: 30px;
}

div#map{
	float:left;
	width:50%;
}
iframe#stade{
	width:90%;
	margin-left: 2%;
}

div#form{
	float:left;
	width:50%;
	display:block;
}

div#form p {
	margin-left:10%;
}

div#form input,textarea {
	background-color: black;
	color:#f1c400;
	border: 1px black solid;;
}

footer{
width:100%;
float:left;
text-align:center;
background-color: black;
}

footer p{
	color:#f1c400;
}

/*
#P1{
background-color : blue;
}

#P2{
background-color : white;
}

#P3{
background-color : red;
}
*/





@media screen and (max-width: 640px) {


  
}
