#P1{
background-color : blue;
}

#P2{
background-color : white;
}

#P3{
background-color : red;
}

/* Plus de scrollbar horizontale */ 
html, body { 
    max-width: 100%;
    overflow-x: hidden;
}

@media not (orientation: landscape) and (min-width: 480px) {
    /* Le code pour les mobiles ici */



}

img#logo{
width:300px;
display: block;
margin-left: auto;
margin-right: auto;
}
