#P1{
background-color : blue;
}

#P2{
background-color : white;
}

#P3{
background-color : red;
}

@media not (orientation: landscape) and (min-width: 480px) {
    /* Le code pour les mobiles ici */



}


